<h1>HighCharts examples</h1>



<script type="text/javascript">
$(function() {
/**
 * Grid theme for Highcharts JS
 * @author Torstein Hønsi
 */

Highcharts.theme = {
   colors: ['#058DC7', '#50B432', '#ED561B', '#DDDF00', '#24CBE5', '#64E572', '#FF9655', '#FFF263', '#6AF9C4'],
   chart: {
      backgroundColor: {
         linearGradient: [0, 0, 500, 500],
         stops: [
            [0, 'rgb(255, 255, 255)'],
            [1, 'rgb(240, 240, 255)']
         ]
      }
,
      borderWidth: 2,
      plotBackgroundColor: 'rgba(255, 255, 255, .9)',
      plotShadow: true,
      plotBorderWidth: 1
   },
   title: {
      style: { 
         color: '#000',
         font: 'bold 16px "Trebuchet MS", Verdana, sans-serif'
      }
   },
   subtitle: {
      style: { 
         color: '#666666',
         font: 'bold 12px "Trebuchet MS", Verdana, sans-serif'
      }
   },
   xAxis: {
      gridLineWidth: 1,
      lineColor: '#000',
      tickColor: '#000',
      labels: {
         style: {
            color: '#000',
            font: '11px Trebuchet MS, Verdana, sans-serif'
         }
      },
      title: {
         style: {
            color: '#333',
            fontWeight: 'bold',
            fontSize: '12px',
            fontFamily: 'Trebuchet MS, Verdana, sans-serif'

         }            
      }
   },
   yAxis: {
      minorTickInterval: 'auto',
      lineColor: '#000',
      lineWidth: 1,
      tickWidth: 1,
      tickColor: '#000',
      labels: {
         style: {
            color: '#000',
            font: '11px Trebuchet MS, Verdana, sans-serif'
         }
      },
      title: {
         style: {
            color: '#333',
            fontWeight: 'bold',
            fontSize: '12px',
            fontFamily: 'Trebuchet MS, Verdana, sans-serif'
         }            
      }
   },
   legend: {
      itemStyle: {         
         font: '9pt Trebuchet MS, Verdana, sans-serif',
         color: 'black'

      },
      itemHoverStyle: {
         color: '#039'
      },
      itemHiddenStyle: {
         color: 'gray'
      }
   },
   labels: {
      style: {
         color: '#99b'
      }
   }
};

// Apply the theme
var highchartsOptions = Highcharts.setOptions(Highcharts.theme);


new Highcharts.Chart({
chart: {
renderTo: "orders_chart",
defaultSeriesType: 'line',
},
title: {
text: "Ankit's Highchart Demo"
},
xAxis: {
type: "datetime"
},
yAxis: {
title: {
text: "Dollar"
},
plotLines: [{
value: 0,
width: 1,
color: '#808080'
}]
},
tooltip: {  
formatter: function () {  
return Highcharts.dateFormat("%B %e %Y", this.x) + ': ' +  
'$' + Highcharts.numberFormat(this.y, 2); 
}  
},
legend: {
layout: 'vertical',
align: 'right',
verticalAlign: 'top',
x: -10,
y: 100,
borderWidth: 0
},

series: [{
name : "Shipping",
pointInterval: <%= 5.days * 1000 %>,
pointStart: <%= 1.week.ago.to_i * 1000 %>,
data: <%= (1.week.ago.to_date..Date.today + 20.days).map {|date| Order.data(date).to_f}.inspect%>
}]

});


new Highcharts.Chart({
chart: {
renderTo: "person_name",
defaultSeriesType: 'line',
},
title: {
text: "Ankit's Highchart Demo 2"
},
xAxis: {
type: "datetime"
},
yAxis: {
title: {
text: "Dollar"
},
plotLines: [{
value: 0,
width: 1,
color: '#808080'
}]
},
tooltip: {  
formatter: function () {  
return Highcharts.dateFormat("%B %e %Y", this.x) + ': ' +  
'$' + Highcharts.numberFormat(this.y, 2); 
}  
},
legend: {
layout: 'vertical',
align: 'right',
verticalAlign: 'top',
x: -10,
y: 100,
borderWidth: 0
},

series: [{
name : "Shipping 1",
pointInterval: <%= 3.days * 1000 %>,
pointStart: <%= 8.week.ago.to_i * 1000 %>,
data: <%= (5.week.ago.to_date..Date.today + 20.days).map {|date| Order.data(date).to_f}.inspect%>
},
{
name : "Shipping 2",
pointInterval: <%= 3.days * 1000 %>,
pointStart: <%= 8.week.ago.to_i * 1000 %>,
data: <%= (3.weeks.ago.to_date..Date.today + 20.days).map {|date| Order.data(date) * 2}.inspect%>
}]

});

new Highcharts.Chart({
chart: {
renderTo: "interview_details",
defaultSeriesType: 'line',
},
title: {
text: "Interviews Analysis"
},
xAxis: {
type: "datetime"
},
yAxis: {
title: {
text: "Experience"
},
plotLines: [{
value: 0,
width: 1,
color: '#808080'
}]
},
tooltip: {  
formatter: function () {  
return Highcharts.dateFormat("%B %e %Y", this.x) + ': ' +  
 Highcharts.numberFormat(this.y, 2) + 'Years'; 
}  
},
legend: {
layout: 'vertical',
align: 'right',
verticalAlign: 'top',
x: -10,
y: 100,
borderWidth: 0
},

series: [{
name : "Total Experience",
pointInterval: <%= 3.days * 1000 %>,
pointStart: <%= 4.week.ago.to_i * 1000 %>,
data: <%= InterviewDetails.total_experience%>
},
{
name : "RoR Experience",
pointInterval: <%= 3.days * 1000 %>,
pointStart: <%= 4.week.ago.to_i * 1000 %>,
data: <%= InterviewDetails.technology_experience%>
}]

});


});
</script>

<table>
<tr>
<td><div id="orders_chart" style="width:760px; height:300px;"></div></td>
</tr>
<tr>
<td><div id="person_name" style="width:960px; height:300px;"></div></td>
</tr>
<tr>
<td><div id="interview_details" style="width:760px; height:300px;"></div></td>
</tr>
</table>



<table>
<tr>
<th>Numbers</th>
<th>Purchased</th>
<th>Shipping</th>
<th>Total</th>
<th></th>
<th></th>
<th></th>
</tr>

<% @orders.each do |order| %>
<tr>
<td><%= order.numbers %></td>
<td><%= order.purchased.to_date %></td>
<td><%= order.shipping %></td>
<td><%= order.total %></td>
<td><%= link_to 'Show', order %></td>
<td><%= link_to 'Edit', edit_order_path(order) %></td>
<td><%= link_to 'Destroy', order, confirm: 'Are you sure?', method: :delete %></td>
</tr>
<% end %>
</table>

<br />

<%= paginate @orders %>

<%= link_to 'New Order', new_order_path %>
