<p id="notice"><%= notice %></p>

<p>
  <b>Numbers:</b>
  <%= @order.numbers %>
</p>

<p>
  <b>Purchased:</b>
  <%= @order.purchased %>
</p>

<p>
  <b>Shipping:</b>
  <%= @order.shipping %>
</p>

<p>
  <b>Total:</b>
  <%= @order.total %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
